@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    th {
        padding: 10px 0;
    }

    td {
        padding: 10px;
    }
</style>

@using (Html.BeginForm())
{
    <div class="container text-primary">
        <div class="row">
            <div class="col-md-6 position-absolute top-50 start-50 translate-middle">
                <div class="card card-body">
                    <h2 class="display-4 fw-normal text-center">Eligibility Calculator</h2>
                    <div class="container mb-2">
                        <hr class="bg-primary" />
                        <div class="input-group input-group-lg my-3">
                            <span class="input-group-text" style="min-width: 175px">Monthly Income</span>
                            <input type="number" id="txtmonthlyIncome" name="monthlyIncome" class="form-control"
                                   value="@ViewData["MonthlyIncome"]" style="max-width: 100%" />
                        </div>
                        <div class="input-group input-group-lg my-3">
                            <span class="input-group-text" style="min-width: 175px">Rate of Interest</span>
                            <input type="number" id="txtinterestRate" name="interestRate" class="form-control"
                                   disabled value="8.5" style="max-width: 100%" />
                        </div>
                        <div class="input-group input-group-lg my-3">
                            <input type="submit" value="Calculate" class="btn btn-primary"
                                   style="min-width: 100%" />
                        </div>
                        <hr class="bg-primary my-3" />
                        <div class="input-group input-group-lg my-3">
                            <span class="input-group-text" style="min-width: 175px">Eligibility</span>
                            <input type="number" class="form-control" disabled
                                   value="@ViewData["EligibleAmount"]" style="max-width: 100%" />
                        </div>
                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-danger">
                                <strong>Error! </strong>@ViewBag.Message
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}