@{
    ViewBag.Title = "Home Page";
}

<div class="homepage">
    <div class="container text-center">
        <div class="homepage-text d-flex flex-column justify-content-center gap-3
                 position-absolute top-50 start-50 translate-middle user-select-none">
            <p class="text-white-50 bd-highlight fs-2">Easy & Simple Application Process</p>
            <h1 class="homepage-heading bd-highlight">Connecting<br />All Your Loan<br />Needs</h1>
            <a href="@Url.Action("Index", "Application")" class="btn btn-lg btn-primary p-3 m-4 bd-highlight">
                Apply Now
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>