body {
    background-image: url("../assets/bg1.jpg");
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage .homepage-text{
    height: 80vh;
}

.homepage .homepage-text .homepage-heading{
    font-size: 75px !important;
}
